.App {
  text-align: center;
}

.addressInput {
  background-color: cornflowerblue;
}

.numberInput {
  background-color: cornsilk;
}

ul {
  display: flex;
  flex-direction: row;
 justify-content: center;
}